<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-6">
            @Html.ActionLink(HomePageResource.StoreLandingListProductsLabel, "Product", "Store", new { Id = 0 }, new { Class = "btn btn-lg btn-warning btn-storage" })
        </div>
        <div class="col-sm-5 col-md-6">
            @Html.ActionLink(HomePageResource.StoreLandingAddProductsLabel, "AddProduct", "Store", new { Id = 0 }, new { Class = "btn btn-lg btn-warning btn-storage" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-6">
            @Html.ActionLink(HomePageResource.StoreLandingListCatProductLabel, "ProductCat", "Store", new { Id = 0 }, new { Class = "btn btn-lg btn-warning btn-storage" })
        </div>
        <div class="col-sm-5 col-md-6">
            @Html.ActionLink(HomePageResource.StoreLandingListGoodsLabel, "Goods", "Store", new { Id = 0 }, new { Class = "btn btn-lg btn-warning btn-storage" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-6">
            @Html.ActionLink(HomePageResource.StoreLandingAddGoodsLabel, "AddGoods", "Store", new { Id = 0 }, new { Class = "btn btn-lg btn-warning btn-storage" })
        </div>
        <div class="col-sm-5 col-md-6">
            @Html.ActionLink(HomePageResource.StoreLandingManageTableLabel, "CoffeeTables", "Store", new {Id = 0}, new {Class = "btn btn-lg btn-warning btn-storage"})
        </div>
    </div>
</div>